page-recuperarclave {

    .bg-style {
        background:#03A9F4;
        border: 10px,
    }
    .item-md{
        font-size: 1.6rem;
        
    }
    .label-md[stacked]{
        font-size: 2rem;
    }
    .logo{
        display:block;
        margin:auto;
        max-width: 200px;
        max-height: 240px;
    }

}
